NEXT_PUBLIC_AUTH_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxNjQzMDE1Mzk3NzA3NzQ3MTZkNzYwMTZkOWFhZWI5OSIsIm5iZiI6MTczMTg2NjU1OC44NDYxMTE4LCJzdWIiOiI2NzNhMjRlNjQ0MzU0MzE5MWNjYmY0OGQiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.siaCqVIkwCnhUEU94Z5yj1kYygTyoc1WQis_J05z_n0
NEXT_PUBLIC_BASE_URL=https://api.themoviedb.org/3/movie/